/* Reset */

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
    text-decoration: none;
    color: #000;
  }
  
  
  
  
  
  
  /* None & Flexbox */
  
  .none {
    display: none;
  }
  
  .flexbox {
    display: flex;
  }
  
  
  
  
  
  
  /* Title font */
  
  .title-font {
    font-family: 'Shrikhand', cursive;
  }
  
  
  
  
  
  
  /* Image box */
  
  .r1 {
    background-image: url("../images/r1.jpg");
  }
  
  .r2 {
    background-image: url("../images/r2.jpg");
  }
  
  .r3 {
    background-image: url("../images/r3.jpg");
  }
  
  .r4 {
    background-image: url("../images/r4.jpg");
  }
  
  

  
  
  /* Loading */
  
  #loading {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 888;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation: loading-disparition 1s linear 0s 1;
    -webkit-animation: loading-disparition 1s linear 0s 1;
  }

  #loading div i {
    animation: loading-rotation 1s linear 0s 1;
    -webkit-animation: loading-rotation 1s linear 0s 1;
  }
   #loading div i{
      height: 100%;
      width: 100%;
      color: #0f0;
      text-shadow: 0 0 20px #0f0;
      font-size: 64px;
      padding: 50px;
  }
  #loading div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @keyframes loading-disparition {

    0% {
      visibility: visible;
    }
  
    90% {
      opacity: 1;
    }
  
    95% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  
@keyframes loading-rotation {

    0% {
      transform: rotateY(0deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }






/* Header */

header {
  height: 60px;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

header img {
  height: 30px;
}



  